body {
  width: 400px;
  height: 170px;
  margin: 5px;
}

#buttons {
  float: left;
}

#container {
  float: left;
}

#navigation {
  width: 370px;
  height: 25px;
}

#tabs {
  height: 25px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  border-color: rgb(0, 0, 0);
}

.nav-link {
  display: flex!important;
  height: 24px!important;
  border-width: 1px!important;
  border-color: black!important;
  margin-left: 1px!important;
}

.nav-link.active {
  color: rgb(0, 0, 0)!important;
}

a {
  padding-top: 4px!important;
  padding-bottom: 3px!important;
  padding-left: 10px!important;
  padding-right: 10px!important;
  font-size: 12px!important;
  text-align: justify!important;
  line-height: normal!important;
  color: rgb(170, 170, 170)!important;
}

span {
  padding-left: 5px;
}

.tab-pane {
  width: 370px;
  height: 140px;
  overflow-y: scroll;
  outline: none;
  padding-left: 5px;
  padding-top: 5px;
  word-break: break-all;
}

::-webkit-scrollbar {
  display: none;
}

#t1 {
  border-left: 0px!important;
  border-radius: 0 8px 0 0;
}

/*Buttons*/
button {
  height: 25px!important;
  width: 25px!important;
  border: none!important;
  border-radius: 0!important;
}

#buttons {
  border-left: 3px double black;
  border-right: 3px double black;
}

/*Settings Button*/
#stt {
  padding: 5px;
}

#stt:hover {
  background-color: black;
}

/*Add Button*/
#add {
  font-size: large;
  text-align: center;
  font-weight: bolder;
  padding: 0;
}

/*Close Button*/
.close {
  cursor: pointer;
  user-select: none;
  line-height: 100%;
}